# Локальные пароли и параметры
.env

# Виртуальное окружение Python
.venv/

# Служебные файлы Python
__pycache__/
*.py[cod]
.pytest_cache/

# Настройки редактора
.vscode/

# Локально загруженные данные
data/

# Файлы с исследовательскими загрузками
notebooks/01_source_research/scratch.ipynb
notebooks/01_source_research/Test.ipynb

# Метаданные Python-пакета, создаваемые при установке проекта
/src/moex_analytics_platform.egg-info/

# Логи приложения
/logs/
