# Локальные пароли и параметры
.env

# Виртуальное окружение Python
.venv/

# Служебные файлы Python
__pycache__/
*.py[cod]
.pytest_cache/

# Настройки редактора
.vscode/

# Локально загруженные данные
data/

# Файлы с исследовательскими загрузками
notebooks/scratch.ipynb
notebooks/Test.ipynb
